<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Timesheet</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
 /head>
<body>
<h1>Welcome to Timesheet <span th:text="${fullname}"> username </span></h1>
<img th:src="@{/images/punch-in-cc-by-Tom-Blackwell.jpg}" style="float: right"/>

<div>We are awfully sorry, but you are not allowed what you are trying to do</div>

</body>
</html>